name: "GLPI nightly images"

on:
  push:
    branches:
      - "main"
      - "ci-matrix-build-and-cache-update"  # For testing
    paths:
      - ".github/workflows/glpi-nightly.yml"
      - ".github/workflows/_glpi-build.yml"
      - "glpi/**"
  pull_request:
    paths:
      - ".github/workflows/glpi-nightly.yml"
      - ".github/workflows/_glpi-build.yml"
      - "glpi/**"
  schedule:
    - cron: '0 0 * * *'
  # Enable manual run
  workflow_dispatch:

jobs:
  build-main:
    name: "Build main branch"
    uses: ./.github/workflows/_glpi-build.yml
    with:
      # For fork testing: always push. Original: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.ref == 'refs/heads/main' }}
      push: true
      glpi-version: "main"
      image-tag: "dev-nightly"
    secrets: inherit

  build-11:
    name: "Build 11.0/bugfixes branch"
    uses: ./.github/workflows/_glpi-build.yml
    with:
      push: true
      glpi-version: "11.0/bugfixes"
      image-tag: "11.0-nightly"
    secrets: inherit

  build-10:
    name: "Build 10.0/bugfixes branch"
    uses: ./.github/workflows/_glpi-build.yml
    with:
      push: true
      glpi-version: "10.0/bugfixes"
      image-tag: "10.0-nightly"
    secrets: inherit
